<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_my_launcher"
        android:roundIcon="@mipmap/ic_my_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyTranslation"
        tools:targetApi="n">

        <activity android:name="com.test2.test2.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.test2.test2.MenuActivity" />
        <activity android:name="com.test2.test2.FavActivity" />
        <activity android:name="com.test2.test2.ChooseLanguageActivity" />
        <activity android:name="com.test2.test2.MainActivity"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>


    </application>

</manifest>